<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:if="${jobs} and ${jobs.size()}">

        <table>
            <tr th:each="job : ${jobs}" class="job-listing">
                <td><p th:text="${job}">jobs</p></td>
            </tr>
        </table>

    </div>

</div>

</body>
</html>